AddHandler cgi-script .cgi
Options +ExecCGI
<Files image.jpg>
	Header add Cache-control no-store,no-cache,must-revalidate,max-age=0
	Header add Cache-control post-check=0,pre-check=0
	Header add Pragma no-cache
	Header add Expires "Mon, 26 Jul 1997 05:00:00 GMT"
</Files>