Source: tinycamd
Section: video
Priority: extra
Maintainer: Jim Studt <jim@studt.net>
Build-Depends: debhelper (>= 7.0.50~)
Standards-Version: 3.8.4
#Homepage: <insert the upstream URL, if relevant>
#Vcs-Git: git://git.debian.org/collab-maint/tinycamd.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/tinycamd.git;a=summary

Package: tinycamd
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: A tiny HTTP webcam server
 Tinycamd is a very small HTTP webcam server. It is efficient and can serve
 frames rapidly and efficiently to multiple viewers even on minimal hardware
 such as repurposed routers. It performs best with webcams that can deliver 
 JPEG encoded frames, but will also work with YUYV capable webcams.
 .
 When run as a daemon on Debian it will drop privs and chroot to an empty 
 directory to give peace of mind.

